@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover{
text-decoration:none
}

header {
    width: 80%;
    border-bottom: 1px solid rgba(166, 166, 166, 0.79);
    height: 160px;
}

header, section {
    margin-left: 30px;
    margin-top: 30px;
}

section {
    width: 50%;
}

header form, header form label {
    width: 80%;

}

.search {
    width: 60px;
height:50px;  
background:#000;
    background-size: 1% 1%;

}
.btn ,.btn-info ,.btn-lg{
width:30px;

 background:none!important;
border:none!important;
outline:none!important;
box-shadow:none;
margin-left:-60px;
border-radius:none!important;

}

.btn:focus ,.btn-info:focus  ,.btn-lg:focus,
.btn:link ,.btn-info:link  ,.btn-lg:link {outline:none!important; background:none!important;box-shadow:none;}
.glyphicon-search{
color:#27a6ff;
outline:none!important;
border-radius:0!important
}
a:visited{

outline:none!important;

border-radius:0!important


}
.glyphicon{
background:none!important;
border-radius:0!important

}
.key{
    height: 50px !important;
    border: 1px solid #27a6ff;
}
 .search {
position: relative;
top:-3px;!important;
border:none!important;
margin-left:-110px
}

.key {
    width: 85%;
    text-indent: 2em;
    font-size: 16px;

}

.nav-search {
    font-size: 18px;
    margin-left: 0px !important;
    height: 40px;

}

.admin {
    float: right;
    width: 200px;
    color: #27a6ff;
    margin-top: -40px;
}

.word {
    color: rgba(188, 188, 188, 0.6);
    font-weight: bolder;

}

.btn-lg {

    border-radius: 40px;
    background: rgba(188, 188, 188, 0.3);
    margin-left: 10px;

}

.btn-sm,
.btn-lg {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none !important;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:visited {
    background: none;
    border: none !important;
    outline: none;
}

.glyphicon-th-list {
    font-size: 18px;
    color: rgba(188, 188, 188, 0.4);
    outline: none;
}

.glyphicon-user {
    color: #fff;
    margin-left: -10px;
}

/*图表*/
#main {
    min-width: 400px;
    height: 500px;
    margin-top: 30px;
}
.h3{
color:#27a6ff;
margin-left:250px

}

/*过滤器*/
.filter {
  
    float: right;
    top:-430px;
    height: 200px;
    width: 7%;
position:relative;
    margin-right: 300px;
}
.filter ul li{
display:block;

font-size:18px;
width:50px;

height:50px;
}
.filter ul li input{
height:60px;
margin-top:-100px;
margin-left:20px

}


.echarts-tooltip {
    width: 160px !important;
}

/*内容*/
.container {
    width: 95%;
top:-100px;
position:relative
  
}

table td,table th
{
border-right:1px solid #969696!important;

}
.border-left{
border-left:1px solid #969696


}
table tr:nth-child(1){

border-top:1px solid #969696


}
table tr:last-child{
border-bottom:1px solid #969696


}


table tr:nth-child(odd){
background:rgba(81,151,248,0.4);

}
table th,table td{
width:0px!important;
height:40px


}

table td:nth-child(3){
color:red

}
table td:nth-child(4){
padding-left:20px;padding-right:20px

}


table th:nth-child(4),table th,table td:nth-child(1),table td:nth-child(2),table td:nth-child(3){
text-align:center
}

table th:nth-child(4),table td:nth-child(4){
width:80%!important;


}
.pagination{
margin-left:30px;
position:relative;top:-100px
}

